.Header {
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
  background-color: grey;
}

.Content {
  display: flex;
  flex-grow: 1;
  padding: 10px 10px;
  align-items: flex-start;
}

.ToolColumn {
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
  box-sizing: border-box;
  padding: 15px 20px 20px 20px;

  background-color: #acacac;
}

.FramesColumn {
  height: 90vh;
  padding-top: 5px;
  padding-right: 5px;
  overflow: auto;
}

.RightColomn {
  height: 90vh;
}
