.Layers {
  display: flex;
  flex-direction: column;
  max-height: 430px;
  padding: 3px;
  padding-bottom: 5px;
  overflow: auto;

  border: 2px solid grey;
  border-radius: 3px;
}

.LayersList {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
}
